.top {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 100px;
  text-transform: uppercase;
}
.about{
  height: 50vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about h3{
  text-transform: uppercase;
}
.about p{
  padding:0px 60px;
  line-height: 30px
}
.service{
  height: 50vh;
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.service h3{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.service p{
  color: white;
  padding:0px 60px;
  line-height: 40px
}
.projects h3{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding-right: 70px; */
  font-weight: bold;
  text-transform:uppercase;
}
.service-icons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.service-icons h6{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
}
.portfolio{
  /* padding: -20px; */
  display: flex;
  flex-direction: column;
}
.portfolio-images-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.portfolio-images-1 .port{
  height: 210px;
  width: 240px;
  /* margin: 1px; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-images-1 .port p{
  color: black;
  background-color:white;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
}

.portfolio-images-1 .port1{
  background-image: url("../assets/portfolio/work4.jpg");

}
.portfolio-images-1 .port2{
  background-image: url("../assets/portfolio/work3.jpg");

}
.portfolio-images-1 .port3{
  background-image: url("../assets/portfolio/work2.jpg");

}
.portfolio-images-1 .port4{
  background-image: url("../assets/portfolio/work1.jpg");

}
.portfolio-images-1 .port5{
  background-image: url("../assets/portfolio/work5.jpg");

}
.portfolio-images-1 .port6{
  background-image: url("../assets/portfolio/work6.jpg");

}
.portfolio-images-1 .port7{
  background-image: url("../assets/portfolio/work7.jpg");

}
.portfolio-images-1 .port8{
  background-image: url("../assets/portfolio/work8.jpg");

}
